# Core functionality - changes here should be rare!
/src/app.py                   @horel19
/src/backend/database.py      @horel19
/src/backend/routers/auth.py  @horel19

# The frontend will need refactored soon to be more object oriented.
/src/static/   @horel19
